@{
    ViewData["Title"] = "All Users";
}

@model PlaceFinder.Models.User

@Html.Partial("_Navigation")

<div class="user-list-page">

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="page-head">
                <h2>All Users</h2>
            </div>

            <div class="row">
                <div class="col-md-8">
                    <table class="table users-table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Places</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var user in @ViewBag.users)
                            {
                                <tr class="user">
                                    <td><a href="/users/@user._id">@user.name</a></td>
                                    <td>@user.places_count</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

</div>