@{
    ViewData["Title"] = "Your Places";
}

@using PlaceFinder.Models
@model PlaceFinder.Models.User

@Html.Partial("_Navigation")

<div class="user-page">

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="page-head">
                <h2><span>@ViewBag.user.name</span>s places</h2>
            </div>

            <div class="places">
                @foreach (var place in @ViewBag.user.places)
                {
                    @Html.Partial("_UserPlace", (Place)@place)
                }
            </div>
        </div>
    </div>
</div>

</div>