@{
    ViewData["Title"] = "Map";
}

@model PlaceFinder.Models.LookupViewModel

<div class="map-page">
@Html.Partial("_Navigation")
<div class="container-fluid">

    <div class="row search-row">
        <div class="col-xs-12 col-sm-12 col-md-8">
            <div class="search-container">
                <div class="sc-label">Search for services by place...</div>
                <form id="lookup-form">
                    <div class="form-row">
                        <div class="col-3 form-group">
                            <input type="text" class="form-control lf-place" placeholder="Tampa..." value="Tampa">
                        </div>
                        <div class="col-3 form-group">
                            <input type="text" class="form-control lf-service" placeholder="Restaurants..." value="Restaurants">
                        </div>
                        <div class="col-3 form-group">
                            <input type="text" class="form-control lf-keyword" placeholder="Burgers..." value="Burgers">
                        </div>
                        <div class="col-2 form-group">
                            <button type="submit" class="btn btn-primary form-control" placeholder="Food...">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-4">
            <div class="input-errors"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 map-col">
            <div class="map-container">
                Enter place and service...
            </div>
        </div>
        <div class="col-md-4 info-col">
            No place selected...
        </div>
    </div>
</div>


</div>