
/* 
=== GENERAL ===
*/

html {
    position: relative;
    height: 100%;
    width: 100%;
}

body {
    position: relative;
    height: 100%;
    width: 100%;
    font-size: 16px;
}

ul {
    list-style: none;
    padding-left: 0;
}

hr {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

/* 
=== BOOTSTRAP OVERRIDES ===
*/


/* 
=== HOME PAGE ===
*/

.login-container {
    width: 20rem;
    margin: 0 auto;
    margin-top: 10rem;
}

.login-form-container {
    padding: 1rem 2rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-form {
    margin-top: 0.5rem;
}

.auth-err {
    color: red;
}

/* 
=== MAP PAGE ===
*/

.search-row {
    border-bottom: 1px solid #ccc;
}

.sc-label {
    margin: 0.5rem;
}

.map-col,
.info-col {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.info-col {
    padding: auto 1rem;
}

.info-col .spinner {
    text-align: center;
    color: #aaa;
    margin-top: 15rem;
}

#mapid {
    height: 36rem;
}

.ic-name {
    margin-bottom: 0;
}

.types .type {
    margin-right: 0.5rem;
}

.ic-addr div {
    display: block;
}

.ic-open-status.open {
    color: green;
}
.ic-open-status.closed {
    color: red;
}


/* 
=== USERS LIST PAGE ===
*/

.user-list-page,
.user-page {
    padding-top: 1rem;
}

.page-head {
    border-bottom: 1px solid #ccc;
    margin-bottom: 1rem;
}

.page-head h2 {
    font-size: 26px;
    font-weight: 400;
    margin-bottom: 0;
    color: #444;
}

.users-table {
    margin-top: 2rem;
    border-top: 0;
}


/* 
=== SINGLE USER PAGE ===
*/

.place-col,
.reviews-col {
    /* padding: 0.5rem; */
}

.place {
    font-size: 0.9rem;
    margin: 2rem 0;
    padding: 0.5rem 1rem;
}

.reviews-col .collapse-btn {
    margin: 0;
    padding: 0;
}

.reviews {
    padding: 0.5rem;
}

.review {
    margin-bottom: 0.5rem;
}

.r-name {
    font-size: 0.9rem;
}

.r-date {
    font-size: 0.7rem;
    background-color: #ccc;
    color: #fff;
}

.r-content {
    font-size: 0.7rem;
}

.add-review-form {
    margin-left: -1rem;
}