
/* 
=== GENERAL ===
*/

html {
    position: relative;
    height: 100%;
    width: 100%;
}

body {
    position: relative;
    height: 100%;
    width: 100%;
    font-size: 16px;
}

ul {
    list-style: none;
    padding-left: 0;
}

/* 
=== BOOTSTRAP OVERRIDES ===
*/


/* 
=== HOME PAGE ===
*/

.login-container {
    width: 20rem;
    margin: 0 auto;
    margin-top: 10rem;
}

.login-form-container {
    padding: 1rem 2rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-form {
    margin-top: 0.5rem;
}

.auth-err {
    color: red;
}

/* 
=== MAP PAGE ===
*/

.search-row {
    border-bottom: 1px solid #ccc;
}

.sc-label {
    margin: 0.5rem;
}

.map-col,
.info-col {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.info-col {
    padding: auto 1rem;
}

.info-col .spinner {
    text-align: center;
    color: #aaa;
    margin-top: 15rem;
}

.info-col hr {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

#mapid {
    height: 36rem;
}

.ic-name {
    margin-bottom: 0;
}

.types .type {
    margin-right: 0.5rem;
}

.ic-addr div {
    display: block;
}

.ic-open-status.open {
    color: green;
}
.ic-open-status.closed {
    color: red;
}